
#mundo{
	background: orange;
}

#primer{
	background: cyan;
}

#seg{
	background: pink;
}
#one{ background: #F7DC6F;
 }
#two{ background: 58D68D;
  }

#three{ background: #A569BD;
 }

#four{background: #B2BABB; 
}